.download-popup {
    background-color: rgba(200, 200, 200, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    .clickable {
        text-decoration: underline;
        cursor: pointer;
    }
    .clickable:active {
        color: dimgrey;
    }

    .bg {
        width: 50vw;
        height: auto;
        background-color: lightgrey;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2:first-child {
            padding: 0 2.8rem 0 2.8rem;
        }

        ol {
            padding: 0 2rem;
        }
    }

    p {
        color: black;
    }

    .download-popup-close-btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media (max-width: 600px) {
        .bg {
            width: 80vw;
            height: auto;
        }
    }
}
