.st0 {
    opacity:0.5;
}
.st1 {
    fill:#030303;
}
.st2{opacity:0.3;}
.st3{fill:none;stroke:#231F20;stroke-miterlimit:10;}
.st4{opacity:0.2;}
.st5 {
    fill:#231F20;
    pointer-events: none;
}
.st6{opacity:0.15;}
.st7{opacity:0.15;fill:#231F20;enable-background:new    ;}
.st8{opacity:0.2;fill:#231F20;enable-background:new    ;}
.st9{
    opacity:1;
    fill:none;
    stroke:#231F20;
    stroke-width:1;
    stroke-miterlimit:10;
    /*enable-background:new;*/
}
.st9:hover {
    fill: black;
}
/*#_Path_11:hover, #_Path_10:hover {*/
    /*fill: black;*/

/*}*/
.st10{fill:#010101;}
.st11{fill:none;stroke:#231F20;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,2;}
