.home {
    .creek-bg {
        position: fixed;
        pointer-events: none;
        overflow: hidden;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .home-content {
        display: flex;
        position: relative;
        flex: 1 1 100%;
        .home-left {
            flex: 2;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2, p {
                padding: 0 2rem;
            }
            h2 {
                font-size: 26px;
                color: $header-color;
                padding: 0 2rem;
            }
            p {
                // padding: 0 1rem 0 1rem;
                color: dimgrey;
                margin: 0;
                width: 70%;
                padding-top: 1rem;

                span {
                    font-size: 1.2rem;
                    font-style: italic;
                }
            }
            p:last-child {
                margin-top: 10px;
            }

            .left-content {
                max-width: 600px;
            }
        }
        .home-right {
            min-width: 319px;
            flex: 1;
            overflow: hidden;
        }
        @include large {
            .home-left {
                h2 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
        @include medium {
            .home-left {
                h2 {
                    font-size: 1rem;
                }
                p {
                    font-size: 0.9rem;
                }
            }
        }
        @include small {
            .home-left {
                h2 {
                    font-size: 0.9rem;
                }
                p {
                    font-size: 0.8rem;
                }
            }
        }
        @media (max-width: 700px) {
            body {
                overflow-x: hidden;
                width: 100vw;
            }

            flex-direction: column;


            .home-left {
                margin-top: 100px;
                margin-bottom: 10px;
                height: auto;
                padding-bottom: 10px;

            }
            .home-right {
                .nav {
                    height: auto;
                    display: block;
                }
            }
        }
    }



    .home-footer {
        width: 100vw;
        position: fixed;
        bottom: 0;
        background-color: $orange;
    }

}

@media (max-width: 700px) {
    .home {
        height: auto;

        .home-footer {
            position: static;
        }
    }
}
