.fsde-logo {
    margin: 2rem;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100px;
    font-size: 7pt;
    color: dimgrey;
    text-align: center;
    transition: opacity 0.5s;
    cursor: pointer;

    @include small {
        max-width: 50px;
    }
    @include medium {
        max-width: 65px;
    }
}
.fsde-logo:hover {
    opacity: 0.7;
}
