.gallery {
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    .gallery-trigger {
        background: transparent;
        border: none;
        margin: 0;
        padding: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;

        transition: background 0.1s ease-in-out;
    }

    .gallery-trigger:hover {
        background: $blue;
    }


    .img {
        margin: 0;
        padding: 0;
        height: 150px;
    }
}

.lightbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    outline: none;

    span {
        height: 100%;
    }

    .main-img {
        height: 100%;
        border-radius: 8px;
        position: relative;
    }

    .carousel-appear {
        opacity: 0;
        height: 100%;
    }

    .carousel-appear.carousel-appear-active {
        transition: opacity 500ms ease-in;
        height: 100%;
    }

    .carousel-enter {
        position:absolute;
        opacity: 0.1;
        height: 100%;
        transform: translate(-100%, 0) scale(0.5);
    }

    .carousel-enter.carousel-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in, transform 500ms ease-in-out; 
        transform: translate(-50%, 0) scale(1);
    }

    .carousel-leave {
        position: absolute;
        opacity: 1;
        height: 100%;
        transform: translate(-50%, 0);
    }

    .carousel-leave.carousel-leave-active {
        position: absolute;
        opacity: 0.01;
        transition: opacity 500ms ease-in, transform 500ms ease-in-out;
        transform: translate(50%, 0) scale(0.5);
        height: 100%;
    }

    .arrow-img {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 2;
        cursor: pointer;

        img {
            max-width: 25px;
            pointer-events: none;
        }
    }

    .left-arrow {
        left: 0;
    }

    .right-arrow {
        right: 0;
    }

    .hamburger {
        position: fixed;
        top: 0;
        right: 0;
    }
}

.lightbox_after-open {

}

.lightbox_before-close {

}

.lightboxOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 20;
}

.lightboxOverlay_after-open {

}

.lightboxOverlay_before-close {
    pointer-events: none;
}

