.mailing-list-box {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-left: 5vw;
    
    h3 {
        font-size: 0.8rem;
        color: white;
        padding-right: 0.5rem;
    }

    .input {
        color: white;
        font-size: 0.7rem;
        display:flex;
        flex-direction: column;


        .input-content {
            display: flex;
            height: 40px;
            border: 2px solid white;
            input {
                margin: 0;
                padding: 0 1rem;
                flex: 3 1 70%;
                height: 100%;
                line-height: 100%;
                border: none;
                background-color: $orange;
                color: white;
                font-size: 0.8rem;

                &::placeholder {
                    color: white;
                    opacity: 0.35;
                }
            }

            button {
                height: 100%;
                flex: 1 1 30%;
                width: 100px;
                background-color: white;
                color: $blue;
                border: none;
                font-size: 0.8rem;
                color: $orange;
            }
        }

        .input-error {
            margin: 0;
            padding: 0.1rem;
            width: 100%;
            // background-color: red;
            color: #d2d2d2;

        }
    }

    @include small {
        flex-direction: column;

        h3 {
            font-size: 0.6rem;
        }
        input {
            font-size: 0.5rem;
        }
        button {
            font-size: 0.6rem;
        }
    }
    @include medium {
        // flex-direction: row;
        h3 {
            margin-right: 20px;
        }
    }

    @media (max-width: 520px) {
        flex-direction: column;
    }

    @include large {
        flex-direction: row;
        h3 {
            margin-right: 20px;
        }
    }
}
