.map-container {
    width: 100%;
    position: relative;

    svg {
        width: 200%;
        height: 640px;
        transform: translate(-25%, 0);
    }

    div {
        width: inherit;
        height: inherit;
    }

    .map-entry {
        span {
            background-color: $highlight-color;
            padding: 0.3rem;
        }
        p {
            margin: 0;
            padding: 0;
        }
        p:last-child {
            font-size: 0.7rem;
            line-height: 0.9rem;
        }
    }

    @include large {
    .map-instructions {
        position: absolute;
        top: 50px;
        left: 0;
        margin-left: -50%;
        width: 50%;
    }

    .map-entry {
        position: absolute;
        top: 50px;
        right: 0;
        // text-align: right;
        margin-right: -50%;
        width: 50%;
    }

    }
    @include medium {
        .map-instructions {
            position: relative;
            width: auto;
            margin-bottom: 0;
            // top: 50px;
            // left: 0;
            // margin-left: -25%;
            // width: 50%;
        }

        .map-entry {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            // margin-top: -40%;
        }
    }
    @include small {
        .map-entry {
            position: relative;
            top: 0;
            right: 0;
            text-align: right;
            margin-top: -40%;
        }
    }
}
